USE [master]
GO
/****** Object:  Database [NexusMs_Dev]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE DATABASE [NexusMs_Dev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexusMs_Dev', FILENAME = N'/var/opt/mssql/data/NexusMs_Dev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexusMs_Dev_log', FILENAME = N'/var/opt/mssql/data/NexusMs_Dev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexusMs_Dev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexusMs_Dev]
GO
/****** Object:  User [developer]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE USER [developer] FOR LOGIN [log_dev] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [coordinador]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE USER [coordinador] FOR LOGIN [log_coordinador] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [consultorPct]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE USER [consultorPct] FOR LOGIN [log_cons_pct] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [consultorOficios]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE USER [consultorOficios] FOR LOGIN [log_cons_oficios] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [consultorEscuelas]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE USER [consultorEscuelas] FOR LOGIN [log_cons_escuelas] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [consultorCigas]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE USER [consultorCigas] FOR LOGIN [log_cons_cigas] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [capturador]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE USER [capturador] FOR LOGIN [log_capturador] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [analista]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE USER [analista] FOR LOGIN [log_analista] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [DeveloperRole]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE ROLE [DeveloperRole]
GO
/****** Object:  DatabaseRole [CoordinadorRole]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE ROLE [CoordinadorRole]
GO
/****** Object:  DatabaseRole [ConsultorPctRole]    Script Date: 27/05/2026 09:54:43 p. m. ******/
CREATE ROLE [ConsultorPctRole]
GO
/****** Object:  DatabaseRole [ConsultorOficiosRole]    Script Date: 27/05/2026 09:54:44 p. m. ******/
CREATE ROLE [ConsultorOficiosRole]
GO
/****** Object:  DatabaseRole [ConsultorEscuelasRole]    Script Date: 27/05/2026 09:54:44 p. m. ******/
CREATE ROLE [ConsultorEscuelasRole]
GO
/****** Object:  DatabaseRole [ConsultorCigasRole]    Script Date: 27/05/2026 09:54:44 p. m. ******/
CREATE ROLE [ConsultorCigasRole]
GO
/****** Object:  DatabaseRole [CapturadorRole]    Script Date: 27/05/2026 09:54:44 p. m. ******/
CREATE ROLE [CapturadorRole]
GO
/****** Object:  DatabaseRole [AnalistaRole]    Script Date: 27/05/2026 09:54:44 p. m. ******/
CREATE ROLE [AnalistaRole]
GO
ALTER ROLE [DeveloperRole] ADD MEMBER [developer]
GO
ALTER ROLE [CoordinadorRole] ADD MEMBER [coordinador]
GO
ALTER ROLE [ConsultorPctRole] ADD MEMBER [consultorPct]
GO
ALTER ROLE [ConsultorOficiosRole] ADD MEMBER [consultorOficios]
GO
ALTER ROLE [ConsultorEscuelasRole] ADD MEMBER [consultorEscuelas]
GO
ALTER ROLE [ConsultorCigasRole] ADD MEMBER [consultorCigas]
GO
ALTER ROLE [CapturadorRole] ADD MEMBER [capturador]
GO
ALTER ROLE [AnalistaRole] ADD MEMBER [analista]
GO
/****** Object:  Table [dbo].[GrupoTrabajo]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoTrabajo](
	[idGrupoTrabajo] [int] IDENTITY(1,1) NOT NULL,
	[encargado] [varchar](40) NOT NULL,
	[NumeroCuadrilla] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGrupoTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oficios]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficios](
	[idOficio] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idOficio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_oficios]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_reporte_oficios] AS
SELECT 
	Oficios.fecha AS 'Fecha',
	GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
	Oficios.ubicacion AS 'Ubicacion',
	'Oficios' AS 'Tipo',
	Oficios.metroLineal AS 'Metros Lineales',
	Oficios.metroCuadrado AS 'Metros Cuadrados',
	Oficios.metroCubico AS 'Metros Cubicos',
	Oficios.peso AS 'Peso (KG)'
FROM Oficios INNER JOIN GrupoTrabajo ON Oficios.idGrupoTrabajo=GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[Escuelas]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escuelas](
	[idEscuela] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[actividadesRealizadas] [text] NOT NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEscuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_escuelas]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Escuelas
CREATE VIEW [dbo].[vw_reporte_escuelas] AS
SELECT 
    Escuelas.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    Escuelas.ubicacion AS 'Ubicacion',
    Escuelas.actividadesRealizadas AS 'Actividades',
    'Escuelas' AS 'Tipo',
    Escuelas.metroLineal AS 'Metros Lineales',
    Escuelas.metroCuadrado AS 'Metros Cuadrados',
    Escuelas.metroCubico AS 'Metros Cubicos',
    Escuelas.peso AS 'Peso (KG)'
FROM Escuelas INNER JOIN GrupoTrabajo ON Escuelas.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[Panteones]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Panteones](
	[idPanteon] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[actividadesRealizadas] [text] NOT NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPanteon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_panteones]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Panteones
CREATE VIEW [dbo].[vw_reporte_panteones] AS
SELECT 
    Panteones.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    Panteones.ubicacion AS 'Ubicacion',
    Panteones.actividadesRealizadas AS 'Actividades',
    'Panteones' AS 'Tipo',
    Panteones.metroLineal AS 'Metros Lineales',
    Panteones.metroCuadrado AS 'Metros Cuadrados',
    Panteones.metroCubico AS 'Metros Cubicos',
    Panteones.peso AS 'Peso (KG)'
FROM Panteones INNER JOIN GrupoTrabajo ON Panteones.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[Puentes]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puentes](
	[idPuente] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[actividadesRealizadas] [text] NOT NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPuente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_puentes]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Puentes
CREATE VIEW [dbo].[vw_reporte_puentes] AS
SELECT 
    Puentes.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    Puentes.ubicacion AS 'Ubicacion',
    Puentes.actividadesRealizadas AS 'Actividades',
    'Puentes' AS 'Tipo',
    Puentes.metroLineal AS 'Metros Lineales',
    Puentes.metroCuadrado AS 'Metros Cuadrados',
    Puentes.metroCubico AS 'Metros Cubicos',
    Puentes.peso AS 'Peso (KG)'
FROM Puentes INNER JOIN GrupoTrabajo ON Puentes.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[EventosEspeciales]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventosEspeciales](
	[idEventoEspecial] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[actividadesRealizadas] [text] NOT NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEventoEspecial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_eventos_especiales]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. EventosEspeciales
CREATE VIEW [dbo].[vw_reporte_eventos_especiales] AS
SELECT 
    EventosEspeciales.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    EventosEspeciales.ubicacion AS 'Ubicacion',
    EventosEspeciales.actividadesRealizadas AS 'Actividades',
    'EventosEspeciales' AS 'Tipo',
    EventosEspeciales.metroLineal AS 'Metros Lineales',
    EventosEspeciales.metroCuadrado AS 'Metros Cuadrados',
    EventosEspeciales.metroCubico AS 'Metros Cubicos',
    EventosEspeciales.peso AS 'Peso (KG)'
FROM EventosEspeciales INNER JOIN GrupoTrabajo ON EventosEspeciales.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[ProgramacionDiaria]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramacionDiaria](
	[idProgramacion] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[actividadesRealizadas] [text] NOT NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProgramacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_programacion_diaria]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. ProgramacionDiaria
CREATE VIEW [dbo].[vw_reporte_programacion_diaria] AS
SELECT 
    ProgramacionDiaria.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    ProgramacionDiaria.ubicacion AS 'Ubicacion',
    ProgramacionDiaria.actividadesRealizadas AS 'Actividades',
    'ProgramacionDiaria' AS 'Tipo',
    ProgramacionDiaria.metroLineal AS 'Metros Lineales',
    ProgramacionDiaria.metroCuadrado AS 'Metros Cuadrados',
    ProgramacionDiaria.metroCubico AS 'Metros Cubicos',
    ProgramacionDiaria.peso AS 'Peso (KG)'
FROM ProgramacionDiaria INNER JOIN GrupoTrabajo ON ProgramacionDiaria.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[EmpleoColonia]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleoColonia](
	[idEmpleoColonia] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[actividadesRealizadas] [text] NOT NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleoColonia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_empleo_colonia]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. EmpleoColonia
CREATE VIEW [dbo].[vw_reporte_empleo_colonia] AS
SELECT 
    EmpleoColonia.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    EmpleoColonia.ubicacion AS 'Ubicacion',
    EmpleoColonia.actividadesRealizadas AS 'Actividades',
    'EmpleoColonia' AS 'Tipo',
    EmpleoColonia.metroLineal AS 'Metros Lineales',
    EmpleoColonia.metroCuadrado AS 'Metros Cuadrados',
    EmpleoColonia.metroCubico AS 'Metros Cubicos',
    EmpleoColonia.peso AS 'Peso (KG)'
FROM EmpleoColonia INNER JOIN GrupoTrabajo ON EmpleoColonia.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[ConsejoParticipacionSocial]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsejoParticipacionSocial](
	[idConsejo] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[actividadesRealizadas] [text] NOT NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idConsejo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_consejo_participacion]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. ConsejoParticipacionSocial
CREATE VIEW [dbo].[vw_reporte_consejo_participacion] AS
SELECT 
    ConsejoParticipacionSocial.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    ConsejoParticipacionSocial.ubicacion AS 'Ubicacion',
    ConsejoParticipacionSocial.actividadesRealizadas AS 'Actividades',
    'ConsejoParticipacionSocial' AS 'Tipo',
    ConsejoParticipacionSocial.metroLineal AS 'Metros Lineales',
    ConsejoParticipacionSocial.metroCuadrado AS 'Metros Cuadrados',
    ConsejoParticipacionSocial.metroCubico AS 'Metros Cubicos',
    ConsejoParticipacionSocial.peso AS 'Peso (KG)'
FROM ConsejoParticipacionSocial INNER JOIN GrupoTrabajo ON ConsejoParticipacionSocial.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[PeticionesDirectas]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeticionesDirectas](
	[idPeticionDirecta] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[actividadesRealizadas] [text] NOT NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPeticionDirecta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_peticiones_directas]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. PeticionesDirectas
CREATE VIEW [dbo].[vw_reporte_peticiones_directas] AS
SELECT 
    PeticionesDirectas.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    PeticionesDirectas.ubicacion AS 'Ubicacion',
    PeticionesDirectas.actividadesRealizadas AS 'Actividades',
    'PeticionesDirectas' AS 'Tipo',
    PeticionesDirectas.metroLineal AS 'Metros Lineales',
    PeticionesDirectas.metroCuadrado AS 'Metros Cuadrados',
    PeticionesDirectas.metroCubico AS 'Metros Cubicos',
    PeticionesDirectas.peso AS 'Peso (KG)'
FROM PeticionesDirectas INNER JOIN GrupoTrabajo ON PeticionesDirectas.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[Ciga]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciga](
	[idCiga] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[numeroVentanilla] [int] NOT NULL,
	[folioCiga] [varchar](100) NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCiga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_ciga]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. Ciga
CREATE VIEW [dbo].[vw_reporte_ciga] AS
SELECT 
    Ciga.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    Ciga.ubicacion AS 'Ubicacion',
    'Ciga' AS 'Tipo',
    Ciga.metroLineal AS 'Metros Lineales',
    Ciga.metroCuadrado AS 'Metros Cuadrados',
    Ciga.metroCubico AS 'Metros Cubicos',
    Ciga.peso AS 'Peso (KG)'
FROM Ciga INNER JOIN GrupoTrabajo ON Ciga.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[EntregaObras]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntregaObras](
	[idEntregaObra] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEntregaObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_entrega_obras]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 10. EntregaObras
CREATE VIEW [dbo].[vw_reporte_entrega_obras] AS
SELECT 
    EntregaObras.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    EntregaObras.ubicacion AS 'Ubicacion',
    'EntregaObras' AS 'Tipo',
    EntregaObras.metroLineal AS 'Metros Lineales',
    EntregaObras.metroCuadrado AS 'Metros Cuadrados',
    EntregaObras.metroCubico AS 'Metros Cubicos',
    EntregaObras.peso AS 'Peso (KG)'
FROM EntregaObras INNER JOIN GrupoTrabajo ON EntregaObras.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[CasasQuemadas]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasasQuemadas](
	[idCasaQuemada] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCasaQuemada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_casas_quemadas]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 11. CasasQuemadas
CREATE VIEW [dbo].[vw_reporte_casas_quemadas] AS
SELECT 
    CasasQuemadas.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    CasasQuemadas.ubicacion AS 'Ubicacion',
    'CasasQuemadas' AS 'Tipo',
    CasasQuemadas.metroLineal AS 'Metros Lineales',
    CasasQuemadas.metroCuadrado AS 'Metros Cuadrados',
    CasasQuemadas.metroCubico AS 'Metros Cubicos',
    CasasQuemadas.peso AS 'Peso (KG)'
FROM CasasQuemadas INNER JOIN GrupoTrabajo ON CasasQuemadas.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[PCT]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCT](
	[idPCT] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[numeroReferencia] [int] NULL,
	[tipoPeriodo] [varchar](40) NOT NULL,
	[estatus] [varchar](40) NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_pct]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 12. PCT
CREATE VIEW [dbo].[vw_reporte_pct] AS
SELECT 
    PCT.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    PCT.ubicacion AS 'Ubicacion',
    'PCT' AS 'Tipo',
    PCT.metroLineal AS 'Metros Lineales',
    PCT.metroCuadrado AS 'Metros Cuadrados',
    PCT.metroCubico AS 'Metros Cubicos',
    PCT.peso AS 'Peso (KG)'
FROM PCT INNER JOIN GrupoTrabajo ON PCT.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[Descacharrizacion]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descacharrizacion](
	[idDescacharrizacion] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[pesoIngresadoDocumento] [decimal](10, 2) NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDescacharrizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_descacharrizacion]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 13. Descacharrizacion
CREATE VIEW [dbo].[vw_reporte_descacharrizacion] AS
SELECT 
    Descacharrizacion.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    Descacharrizacion.ubicacion AS 'Ubicacion',
    'Descacharrizacion' AS 'Tipo',
    Descacharrizacion.metroLineal AS 'Metros Lineales',
    Descacharrizacion.metroCuadrado AS 'Metros Cuadrados',
    Descacharrizacion.metroCubico AS 'Metros Cubicos',
    Descacharrizacion.peso AS 'Peso (KG)'
FROM Descacharrizacion INNER JOIN GrupoTrabajo ON Descacharrizacion.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[TiraderosGestionAmbiental]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiraderosGestionAmbiental](
	[idTiraderoGestion] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTiraderoGestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_tiraderos_gestion]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 14. TiraderosGestionAmbiental
CREATE VIEW [dbo].[vw_reporte_tiraderos_gestion] AS
SELECT 
    TiraderosGestionAmbiental.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    TiraderosGestionAmbiental.ubicacion AS 'Ubicacion',
    'TiraderosGestionAmbiental' AS 'Tipo',
    TiraderosGestionAmbiental.metroLineal AS 'Metros Lineales',
    TiraderosGestionAmbiental.metroCuadrado AS 'Metros Cuadrados',
    TiraderosGestionAmbiental.metroCubico AS 'Metros Cubicos',
    TiraderosGestionAmbiental.peso AS 'Peso (KG)'
FROM TiraderosGestionAmbiental INNER JOIN GrupoTrabajo ON TiraderosGestionAmbiental.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[TiraderosInspeccion]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiraderosInspeccion](
	[idTiraderoInspeccion] [int] IDENTITY(1,1) NOT NULL,
	[idGrupoTrabajo] [int] NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
	[metroLineal] [int] NULL,
	[metroCuadrado] [int] NULL,
	[metroCubico] [decimal](10, 2) NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTiraderoInspeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_reporte_tiraderos_inspeccion]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 15. TiraderosInspeccion
CREATE VIEW [dbo].[vw_reporte_tiraderos_inspeccion] AS
SELECT 
    TiraderosInspeccion.fecha AS 'Fecha',
    GrupoTrabajo.NumeroCuadrilla AS 'No. Cuadrilla',
    TiraderosInspeccion.ubicacion AS 'Ubicacion',
    'TiraderosInspeccion' AS 'Tipo',
    TiraderosInspeccion.metroLineal AS 'Metros Lineales',
    TiraderosInspeccion.metroCuadrado AS 'Metros Cuadrados',
    TiraderosInspeccion.metroCubico AS 'Metros Cubicos',
    TiraderosInspeccion.peso AS 'Peso (KG)'
FROM TiraderosInspeccion INNER JOIN GrupoTrabajo ON TiraderosInspeccion.idGrupoTrabajo = GrupoTrabajo.idGrupoTrabajo;
GO
/****** Object:  Table [dbo].[TransaccionesExcel]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaccionesExcel](
	[idTransaccionExcel] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[nombreArchivo] [varchar](120) NOT NULL,
	[fechaTransaccion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTransaccionExcel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[password_user] [varchar](255) NOT NULL,
	[rol] [varchar](50) NOT NULL,
	[fechaRegistro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CasasQuemadas]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[Ciga]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[ConsejoParticipacionSocial]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[Descacharrizacion]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[EmpleoColonia]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[EntregaObras]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[Escuelas]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[EventosEspeciales]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[Oficios]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[Panteones]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[PCT]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[PeticionesDirectas]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[ProgramacionDiaria]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[Puentes]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[TiraderosGestionAmbiental]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[TiraderosInspeccion]  WITH CHECK ADD FOREIGN KEY([idGrupoTrabajo])
REFERENCES [dbo].[GrupoTrabajo] ([idGrupoTrabajo])
GO
ALTER TABLE [dbo].[TransaccionesExcel]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarRegistroDinamico]    Script Date: 27/05/2026 09:54:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Creacion de Procedimientos Almacenados
CREATE PROCEDURE [dbo].[sp_InsertarRegistroDinamico]
    @Tabla VARCHAR(120),
    @idGrupoTrabajo INT,
    @ubicacion VARCHAR(100),
    @fecha DATE = NULL,
    @metroLineal INT = NULL,
    @metroCuadrado INT = NULL,
    @metroCubico DECIMAL(10,2) = NULL,
    @peso DECIMAL(10,2) = NULL,
    -- Campos específicos de ciertas tablas:
    @numeroVentanilla INT = NULL,
    @folioCiga VARCHAR(100) = NULL,
    @numeroReferencia INT = NULL,
    @tipoPeriodo VARCHAR(40) = NULL,
    @estatus VARCHAR(40) = NULL,
    @pesoIngresadoDocumento DECIMAL(10,2) = NULL,
    @actividadesRealizadas TEXT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Validar rigurosamente el nombre de la tabla para evitar Inyección SQL
    IF @Tabla NOT IN (
        'Oficios', 'Ciga', 'EntregaObras', 'CasasQuemadas', 'Escuelas', 
        'Panteones', 'Puentes', 'PCT', 'EventosEspeciales', 'Descacharrizacion', 
        'ProgramacionDiaria', 'EmpleoColonia', 'ConsejoParticipacionSocial', 
        'TiraderosGestionAmbiental', 'TiraderosInspeccion', 'PeticionesDirectas'
    )
    BEGIN
        RAISERROR('La tabla no existe en la base de datos.', 16, 1);
        RETURN;
    END

    -- Variables para construir el SQL Dinámico
    DECLARE @Sql NVARCHAR(MAX);
    DECLARE @Columnas NVARCHAR(MAX) = 'idGrupoTrabajo, ubicacion, fecha, metroLineal, metroCuadrado, metroCubico, peso';
    DECLARE @Valores NVARCHAR(MAX) = '@idGrupoTrabajo, @ubicacion, @fecha, @metroLineal, @metroCuadrado, @metroCubico, @peso';

    -- 2. Interceptar tablas con columnas particulares para adaptar el INSERT
    IF @Tabla = 'Ciga'
    BEGIN
        SET @Columnas += ', numeroVentanilla, folioCiga';
        SET @Valores += ', @numeroVentanilla, @folioCiga';
    END
    ELSE IF @Tabla = 'PCT'
    BEGIN
        SET @Columnas += ', numeroReferencia, tipoPeriodo, estatus';
        SET @Valores += ', @numeroReferencia, @tipoPeriodo, @estatus';
    END
    ELSE IF @Tabla = 'Descacharrizacion'
    BEGIN
        SET @Columnas += ', pesoIngresadoDocumento';
        SET @Valores += ', @pesoIngresadoDocumento';
    END
    ELSE IF @Tabla IN ('Escuelas', 'Panteones', 'Puentes', 'EventosEspeciales', 
                       'ProgramacionDiaria', 'EmpleoColonia', 'ConsejoParticipacionSocial', 'PeticionesDirectas')
    BEGIN
        SET @Columnas += ', actividadesRealizadas';
        SET @Valores += ', @actividadesRealizadas';
    END

    -- 3. Construir la sentencia final (Concatenando de forma segura la tabla ya validada)
    SET @Sql = N'INSERT INTO ' + QUOTENAME(@Tabla) + N' (' + @Columnas + N') VALUES (' + @Valores + N');';

    -- 4. Ejecutar el SQL de manera segura usando sp_executesql (mantiene el tipado de los parámetros)
    EXEC sp_executesql @Sql,
        N'@idGrupoTrabajo INT, @ubicacion VARCHAR(100), @fecha DATE, @metroLineal INT, @metroCuadrado INT, @metroCubico DECIMAL(10,2), @peso DECIMAL(10,2), @numeroVentanilla INT, @folioCiga VARCHAR(100), @numeroReferencia INT, @tipoPeriodo VARCHAR(40), @estatus VARCHAR(40), @pesoIngresadoDocumento DECIMAL(10,2), @actividadesRealizadas TEXT',
        @idGrupoTrabajo, @ubicacion, @fecha, @metroLineal, @metroCuadrado, @metroCubico, @peso, @numeroVentanilla, @folioCiga, @numeroReferencia, @tipoPeriodo, @estatus, @pesoIngresadoDocumento, @actividadesRealizadas;
END;
GO
USE [master]
GO
